<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"><a routerLink="/">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping">Shopping list</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#  " class="dropdown-toggle">Manage
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"></a>Save data</li>
                        <li><a href="#"></a>Fetch data</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>