<div class="row">
    <div class="col-xs-12">
        <img src="../../../assets/recipe1.jpeg" alt="" style="max-height: 80px">
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{'Recipe name' }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary">Manage<span class="caret"></span></button>
        </div>
    </div>
    <div class="row">
            <div class="col-xs-12">
                {{'Recipe name' }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{'Recipe description' }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{'Recipe Ingrdients' }}
            </div>
        </div>


</div>