<div class="row">
    <div class="col-xs-12">
        <img [src]="book.imageLink" alt="{{book.title}}" style="max-height: 300px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>{{book.title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4><strong>Author:</strong> {{ book.author }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <strong>Country:</strong> {{book.country }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <strong>Language:</strong> {{book.language }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <strong>Year:</strong> {{book.year }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <strong>Link:</strong> {{book.link }}
    </div>
</div>

