<div class="row">
    <div class="col-xs-12">
        <img [src]="book.imageLink" alt="{{book.title}}" style="max-height: 300px">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>{{book.title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{ book.author }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{book.link }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
     {{book.year }}
    </div>
</div>
