.container{
    width: auto;
height: 500px;
margin: 20px 20px;
position: relative;
border: 10px solid white;
box-shadow: 0px 0px 5px 2px #ccc;
}
img {
max-height: 400px; 
max-width: 300px;
}
button.btn {
background-color: transparent;

color: black;
position: absolute;	
height:35px;
width:35px;
border: 1px solid black;
border-radius: 35px;
top: 45%;
cursor:pointer;
text-align: center;
}

.next {
right: 12px;
}