.container{
    width: auto;
height: 400px;
margin: 20px 20px;
padding:20px;
position: relative;
border: 10px solid white;
box-shadow: 0px 0px 5px 2px #ccc;
}
img {
max-height: 400px; 
max-width: 300px;
min-width: 200px;
}
.slidingImages {
  min-width: 200px;
  width: 200px;
  height: 300px;
  height: 300px;
  padding: 3px;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid white;
  box-shadow: 0px 0px 2px 2px #ccc;
}
button.btn {
background-color: transparent;

color: black;
position: absolute;	
height:35px;
width:35px;
border: 1px solid black;
border-radius: 35px;
top: 45%;
cursor:pointer;
text-align: center;
}

.next {
right: 12px;
}

.next:hover,.prev:hover{
  background-color: darkblue;
  opacity: .7;
  color: white;
}